.heading {
    color: red;
}

h1,h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

.background{
    background-color: beige;
}

#london-heading{
    background-color: pink;
}

.box1{
    border: 10px ridge lightgreen;
    margin: 5px
}


.box2{

    padding-right: 5px;
    padding-left: 5px;
    border-top: 2px black solid;
    border-bottom: 4px grey solid;

}
